# Python
__pycache__/
*.pyc

# IDE
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# Envs
.venv/
.env

# Artifacts
models/
*.pkl
*.joblib
*.onnx
*.h5

!data/.gitkeep
!models/.gitkeep

# Notebooks cache
.ipynb_checkpoints/
