# Python
__pycache__/
*.pyc

# IDE
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# Envs
.venv/
.env

# Artifacts
models/
*.pkl
*.joblib
*.onnx
*.h5
logs/
!models/.gitkeep

# Notebooks cache
.ipynb_checkpoints/
