# Python
__pycache__/
*.pyc

# IDE
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# Envs
.venv/
.env

# Data & Artifacts
data/
models/
*.pkl
*.joblib
*.onnx
*.h5

# Разрешаем сохранять только маркеры структуры
!data/.gitkeep
!models/.gitkeep

# Notebooks cache
.ipynb_checkpoints/
